<div ng-controller="RegisterCtrl">
    <div class="panel panel-default pull-left">
        register!
        <form name="form" class="center-block" ng-submit="register()">

        <p>First name:</p>
        <input class="form-control" type="text" name="First name"
               placeholder="First name" required autofocus>
            <p>Last name:</p>

            <input class="form-control" type="text" name="Last name"
                   placeholder="Last name" required>
            <p>Email:</p>

            <input class="form-control" type="text" name="Email"
                   placeholder="Email" required>
            <p>Confirm email:</p>

            <input class="form-control" type="text" name="Confirm Email"
                   placeholder="Email" required>
            <p>Password:</p>

            <input class="form-control" type="password" name="Password"
                   placeholder="password" required>
            <p>Confirm password:</p>

            <input class="form-control" type="password" name="Confirm Password"
                   placeholder="password" required>
            <p>Mobile number:</p>

            <input class="form-control" type="number" name="Mobile number"
                   placeholder="amount" required>
        <input class="btn btn-lg btn-primary btn-block" type="submit" name="register" value="Sign Up">
        </form>
    </div>
</div>